*{margin: 5px;}
.caja-flex{
    background-color: crimson;
    padding: 7px;
    border: 5px;
    border-style: inset;
    display: flex;
    /*flex-direction: column;*/

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}
.caja-flex .caja-hijo{
    background-color: rgb(224, 103, 103);
    margin: 5px;
    border: 5px;
    border-style: inset;
    font-size: 30px;
    width: 300px;
}
.caja-grid{
    background-color: darkcyan;
    padding: 10px;
    font-size: 30px;
    border: 5px;
    border-style: solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}
.caja-grid .hijo1{
    background-color: crimson;
    grid-column: 1/4;
    text-align: center;
}
.caja-grid .hijo2{
    background-color: darksalmon;
    grid-column: 1/2;
    grid-row: 2/5;
    text-align: center;
}
.caja-grid .hijo3{
    background-color: cornflowerblue;
    grid-column: 2/3;
    grid-row: 2/4;
    text-align: center;
}
.caja-grid .hijo4{
    background-color: lightblue;
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
}
.caja-grid .hijo5{
    background-color: chartreuse;
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
}
.caja-grid .hijo6{
    background-color: darkslateblue;
    grid-column: 2/4;
    grid-row: 4/5;
    text-align: center;
}